.Fdap{
    display: flex;
    justify-content: space-between; 
    height: 300px;
}

.cartpatient{
    width: 40%;
    position: relative;
    background-color: #00ccb1;
    overflow: hidden;
    border-radius: 10px; 
    padding: 1.375em 2.5em 0;
}

.cartdoctor{
    width: 40%;
    position: relative;
    background-color:#3d83df;
    overflow: hidden;
    border-radius: 10px;
    padding: 1.375em 2.5em 0;   
}
.select{
    width: 60%;
    background-color: white;
    border: 0;
    border-radius: 0;
    padding: 0 3.5em 0 1.5em;
    height: 40px;
    text-transform: uppercase;
    outline: 0;
}
.titreparagra{
    font-size: .875em;
    font-weight: 400;
    margin: 0;
    color: hsla(0,0%,100%,.7);
}
.paragra{
    font-size: 1.625em;
    color: #fff;
}
.imagee{
    position: absolute;
    bottom: -25px;
    right: -115px;
    width: 64%;
}
